/*--- ヘッダー ---*/
nav {
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
}

.navbar-brand {
    position: relative;
    left: 10%;
}

/*--- フッター ---*/
footer {
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255,255,255,0.4);
    position: relative;
    bottom: 0px;
    width: 100vw;
}

/*--- コンテンツの位置調整 ---*/
.centreren {
    text-align: center;
    height: 100%;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.justify-content {
    display: flex;
    justify-content: center;
}

.side-by-side {
    display: flex;
    justify-content: space-around;
}

#app {
    height: 100vh;
}

.paginate {
    position: relative;
    bottom: -4vh;
    display: flex;
    justify-content: center;
}

.randomsearch {
    margin-bottom: 3vh;
}

.dropdown-menu-right {
    min-width: 13em;
    max-width: 70%;
    margin: auto;
}

/*--- テキスト ---*/
body {
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
    background-repeat: repeat-y;
    font-family: "M PLUS Rounded 1c";
    font-weight: bold;
}

h1 {
    font-size: min(5vw,4vh);
    text-align: center;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

h2 {
    font-size: min(5vw,4vh);
    text-align: center;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

h3 {
    font-size: min(4vw,3vh);
    text-align: center;
}

p {
    font-size: min(3vw,2vh);
}

a {
    text-align: center;
}

a:hover {
    transform: scale(1.05);
}

/*--- ボタン ---*/
button:hover {
    transform: scale(1.05);
}

.btn-mini {
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC);
    border-radius: 5px;
    padding: 2px;
    border-bottom: 5px solid #aac5de;
}

.btn-middle {
    background: #c6e4ff;
    border-radius: 10px;
    padding: 5px;
    border-bottom: 5px solid #aac5de;
    font-size: min(3.5vw,2.5vh);
}

/*--- 入力フォーム ---*/
.input-field {
    width: fit-content;
    max-width: 90vw;
    padding: 0.5em 1em;
    margin: 2em auto;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.input {
    border-radius: 10px;
    margin: 20px;
}

.submit-input:hover {
    transform: scale(1.05);
}

.url-input {
    width: 50vw;
}

.img-input {
    width: 50vw;
}

.textarea {
    border-radius: 10px;
    margin: 3vh;
    max-width: 50vw;
}

iframe {
    width: 80%;
    height: 100%;
    border: none;
}

/*--- シャドウ ---*/
.box-shadow {
    border: none;
    margin: auto;
    padding: 3vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*--- シロクマの吹き出し ---*/
.guide {
    position: relative;
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    border-bottom: 5px solid #aac5de;
    background-color: #c6e4ff;
    text-align: center;
}

.guide:before {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 25px;
    width: 3px;
    background-color: #c6e4ff;
    content: "";
}