#top-image {
    height: 25vh;
    margin: 20px;
}

.box-shadow-front {
    width: 45%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-link {
    font-size: 2.5vh;
}