.bubble-field {
    height: 40vh;
    width: 25vh;
    margin: auto;
}

.item {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.item:hover {
    transform: scale(1.05);
}

.item:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
}

@keyframes shake {
    0% { transform: translateY(70%); }
    50% { transform: translateY(20%); }
    100% { transform: translateY(70%); }
}

@for $i from 0 through 10000 { // !! ←10000個生成(アプリの規模に合わせて変更する必要がある)
    $random: random(10); // 1~10の範囲でランダムに生成（for文が回る度に生成される）
    $f: $random+3; // ランダム範囲を4~13に変更(1~3秒の振動数は早すぎてユーザーのストレスになる可能性があるため)
    
    .shake#{$i} {
        animation: shake $f+s ease 0s infinite normal; // ランダムに生成された振動数で振動
    }
}

.bubble-name {
    font-weight: bold;
    color: #1e90ff;
}

.bubble-name:hover {
    color: #191970;
}